Repository GoogleCloudPlatform/devrel-services, pull requests merged in 2020-08, with the labels that each got.

#103 fix(samplrd): Ignore files with no snippets
  samplr/snippet.go
  samplr/snippet_test.go
Labels: area:samplr, bug

#104 fix(maintner): profiler services names are only lowercase
  drghs-worker/maintnerd/main.go
Labels: area:maintner, bug

#105 feat(samplrd): Add support for TypeScript
  samplr/snippet.go
  samplr/snippet_test.go
Labels: area:samplr, enhancement

#123 fix(maintner): add 404 error codes
  drghs-worker/kubernetes/deployment.yaml
  drghs-worker/maintner-rtr/main.go
  drghs-worker/maintner-rtr/main_test.go
  drghs-worker/maintnerd/main.go
Labels: area:maintner, bug
