Repository GoogleCloudPlatform/devrel-services, pull requests merged in 2020-02, with the labels that each got.

#24 feat(maintner)!: gRPC API is only supported API
  drghs-worker/go.mod
  drghs-worker/go.sum
  drghs-worker/kubernetes/deployment.yaml
  drghs-worker/maintner-rtr/Dockerfile
  drghs-worker/maintner-rtr/main.go
  drghs-worker/maintner-sprvsr/main.go
  drghs-worker/maintnerd/Dockerfile
  drghs-worker/maintnerd/api/v1beta1/common.go
  drghs-worker/maintnerd/api/v1beta1/issue_service.go
  drghs-worker/maintnerd/api/v1beta1/issue_service_test.go
  drghs-worker/maintnerd/internal/apiroutes/apiroute.go
  drghs-worker/maintnerd/internal/apiroutes/common.go
  drghs-worker/maintnerd/internal/apiroutes/v0_api.go
  drghs-worker/maintnerd/internal/apiroutes/v0_api_test.go
  drghs-worker/maintnerd/internal/apiroutes/v1_api.go
  drghs-worker/maintnerd/internal/apiroutes/v1_api_test.go
  drghs-worker/maintnerd/main.go
  drghs-worker/utils/serilization_utils_test.go
  drghs/Makefile
  drghs/endpoints/cloudbuild.yaml
  drghs/endpoints/maintnerd.yaml
  drghs/go.mod
  drghs/v0/api_descriptor.pb
  drghs/v0/drghs_service.pb.go
  drghs/v0/drghs_service.proto
  drghs/v1/admin_service.pb.go
  drghs/v1/api_descriptor.pb
  drghs/v1/issue_service.pb.go
  drghs/v1/issue_service.proto
  drghs/v1/pagination.pb.go
  drghs/v1/resources.pb.go
  drghs/v1/resources.proto
  drghs/v1/sample_service.pb.go
  drghs/v1/service_resources.pb.go
Labels: area:infra, area:maintner, do not merge

#66 fix: removes all golint errors
  drghs-worker/maintnerd/api/v1beta1/common.go
  drghs-worker/maintnerd/api/v1beta1/issue_service.go
  drghs-worker/maintnerd/main.go
  drghs-worker/pkg/googlers/googlers.go
  drghs-worker/pkg/googlers/googlers_static.go
  drghs-worker/pkg/status/compliance.go
  drghs-worker/pkg/status/compliance_response.go
  drghs-worker/pkg/status/get_issue_request.go
  drghs-worker/pkg/status/list_issue_request.go
  drghs-worker/pkg/status/priority.go
  drghs-worker/pkg/status/request.go
  drghs-worker/pkg/status/request_config.go
  drghs-worker/pkg/status/request_rule.go
  drghs-worker/pkg/status/response.go
  drghs-worker/pkg/status/status.go
  drghs-worker/pkg/status/type.go
  drghs-worker/pkg/tokens/rotate_tokens.go
  drghs-worker/pkg/tokens/tokens.go
  drghs-worker/pkg/utils/status_utils.go
  repos/repos.go
  repos/repos_bucket.go
  samplr/git-go/git.go
  samplr/git-go/object_type.go
  samplr/git-go/repository.go
  samplr/git-go/repository_integration_test.go
  samplr/git_repository.go
  samplr/samplrctl/cmd/snippets/snippets.go
  samplr/samplrctl/cmd/snippetversions/snippet_versions.go
  samplr/samplrctl/snippets/snippets.go
  samplr/samplrctl/snippetversions/snippet_versions.go
  samplr/samplrctl/testutil/commands.go
  samplr/samplrctl/utils/utils.go
  samplr/samplrd/filter/filters.go
  samplr/samplrd/filter/filters_test.go
  samplr/samplrd/samplrapi/page_utils.go
  samplr/samplrd/samplrapi/sample_service.go
Labels: area:core

#56 fix(maintner): allow "." in owner and repository
  drghs-worker/maintner-rtr/main.go
  drghs-worker/maintner-rtr/main_test.go
Labels: area:maintner, bug

#69 docs(maintner): Add instructions for resetting repo data
  drghs-worker/README.md
Labels: area:maintner, documentation
