Repository GoogleCloudPlatform/devrel-services, pull requests merged in 2020-03, with the labels that each got.

#45 feat(maintner): api pagination
  drghs-worker/go.sum
  drghs-worker/maintner-rtr/main.go
  drghs-worker/maintnerd/api/filters/filters.go
  drghs-worker/maintnerd/api/filters/filters_test.go
  drghs-worker/maintnerd/api/v1beta1/comment_paginator.go
  drghs-worker/maintnerd/api/v1beta1/comment_paginator_test.go
  drghs-worker/maintnerd/api/v1beta1/issue_service.go
  drghs-worker/maintnerd/api/v1beta1/issue_service_test.go
  drghs-worker/maintnerd/api/v1beta1/issues_paginator.go
  drghs-worker/maintnerd/api/v1beta1/issues_paginator_test.go
  drghs-worker/maintnerd/api/v1beta1/page_utils.go
  drghs-worker/maintnerd/api/v1beta1/page_utils_test.go
  drghs-worker/maintnerd/api/v1beta1/repos_paginator.go
  drghs-worker/maintnerd/api/v1beta1/repos_paginator_test.go
Labels: area:maintner

#43 feat(maintner): adds sweeper utility
  drghs-worker/Makefile
  drghs-worker/cloudbuild.yaml
  drghs-worker/go.mod
  drghs-worker/go.sum
  drghs-worker/internal/api_descriptor.pb
  drghs-worker/internal/issue_service_internal.pb.go
  drghs-worker/internal/issue_service_internal.proto
  drghs-worker/kubernetes/deployment.yaml
  drghs-worker/maintner-rtr/main.go
  drghs-worker/maintner-sprvsr/main.go
  drghs-worker/maintner-swpr/Dockerfile
  drghs-worker/maintner-swpr/main.go
  drghs-worker/maintner-swpr/maint_test.go
  drghs-worker/maintnerd/api/internalapi/internal_api.go
  drghs-worker/maintnerd/api/v1beta1/common.go
  drghs-worker/maintnerd/main.go
  drghs/v1/admin_service.pb.go
  drghs/v1/api_descriptor.pb
  drghs/v1/issue_service.pb.go
  drghs/v1/resources.pb.go
  drghs/v1/resources.proto
  drghs/v1/sample_service.pb.go
Labels: area:infra, area:maintner, enhancement

#73 feat(maintnerd): Resolves #71 and fixes #72
  devrelservices-admin/go.mod
  devrelservices-admin/go.sum
  drghs-worker/go.mod
  drghs-worker/go.sum
  drghs-worker/maintnerd/api/v1beta1/common.go
  drghs-worker/maintnerd/api/v1beta1/common_test.go
  drghs-worker/maintnerd/api/v1beta1/issue_service.go
  drghs/go.mod
  drghs/go.sum
  drghs/v1/admin_service.pb.go
  drghs/v1/api_descriptor.pb
  drghs/v1/issue_service.pb.go
  drghs/v1/issue_service.proto
  drghs/v1/pagination.pb.go
  drghs/v1/resources.pb.go
  drghs/v1/sample_service.pb.go
  drghs/v1/service_resources.pb.go
  repos/go.sum
  rtr/go.sum
  samplr/go.mod
  samplr/go.sum
  sprvsr/go.sum
Labels: area:maintner, bug, enhancement

#74 fix(maintner-swpr): update name regexp to include . and :
  drghs-worker/maintner-swpr/main.go
Labels: area:maintner

#75 feat(maintner): add retry for intra-cluster gRPC calls
  drghs-worker/go.mod
  drghs-worker/go.sum
  drghs-worker/maintner-rtr/main.go
  drghs-worker/maintner-swpr/main.go
Labels: area:core, area:maintner

#76 feat(maintner-swpr): use field masks to only return the Issue ID
  drghs-worker/maintner-swpr/main.go
Labels: area:maintner

#67 fix(samplrd): gRPC respects Context Cancels
  samplr/samplrd/main.go
Labels: area:samplr, bug

#78 fix(maintnerd): Case-insensitive sort for labels
  drghs-worker/maintnerd/api/v1beta1/common.go
  drghs-worker/maintnerd/api/v1beta1/common_test.go
Labels: area:maintner, bug

#80 fix(k8s_supervisor): fix bug with redundant resource creation
  sprvsr/go.mod
  sprvsr/go.sum
  sprvsr/k8s_supervisor.go
  sprvsr/k8s_supervisor_test.go
Labels: area:core, area:maintner, area:samplr

#79 chore(maintner-rtr): enable verbose gRPC logging
  drghs-worker/maintner-rtr/Dockerfile
Labels: area:maintner

#82 fix(sprvsr): images in the deployments trigger deletes
  sprvsr/k8s_supervisor.go
  sprvsr/k8s_supervisor_test.go
Labels: area:core, area:infra, area:maintner, area:samplr

#83 fix(maintner): add retry logic
  drghs-worker/maintner-rtr/Dockerfile
  drghs-worker/maintner-rtr/main.go
  drghs-worker/maintner-swpr/main.go
  drghs-worker/maintnerd/Dockerfile
Labels: area:infra, area:maintner, bug

#84 feat(maintner-swpr): refactors and error retries
  drghs-worker/kubernetes/deployment.yaml
  drghs-worker/maintner-swpr/github.go
  drghs-worker/maintner-swpr/limit_transport.go
  drghs-worker/maintner-swpr/limit_transport_test.go
  drghs-worker/maintner-swpr/main.go
  drghs-worker/maintner-swpr/maint_test.go
Labels: area:maintner, bug
